.education-and-work{
    width:100%;
    margin-top: 5vh;
}

.sub-nav{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
}

.sub-nav-item{
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    color:#3EA6C1;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0 5vw 0 5vw;
}

.underline{
    width:55%;
    height: 0.5vh;
    border-radius: 5px;
    background-color: gray;
    transition: width 1s ease-out;
}

#education .underline{
    width: 100%;
    background-color: tomato;
}

.education, .work, .publications{
    margin: 3vh 0 0 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ew-item{
    margin: 3vh 0 3vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:space-around;
}

.ew-logo{
    width:15vh;
    height: 15vh;
    margin: 1vh 6vw 1vh 0;
    background-repeat: no-repeat;
    background-position: center;
}

.ew-info{
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    align-items: flex-start;

}

.ew-name{
    font-size: 1.6rem;
    text-decoration: underline;
    margin:0 0 2vh 0;
    color:#3973ac;
}

.ew-name sup{
    display:inline-block;
    padding:0;
}

.ew-institute{
    font-size: 1.3rem;
    margin: -1.5vh 0 2.5vh 0;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.at-logo{
    background-image: url('../icons/icons8-email-50.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:20px;
    min-width:20px;
    min-height:20px;
}

.ew-institute .name{
    padding:0 0 0 1vw;
    border:none; 
    letter-spacing: 0;
}

.ew-year{
    font-size: 1.1rem; 
    width:100%;
    text-align:center;  
    margin: -3vh 0 2.5vh 30px;   
    width: auto;
}

.ew-comments{
    font-size:1.2rem;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .education, .work, .publications{
        margin: 3vh 0 0 0;
    }

    .ew-info{
        margin:0;
        width:60vw;
    }

    .sub-nav{
        margin-left:0;
    }

    .sub-nav-item{
        margin: auto;
    }

    .ew-item{
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-around;
    }

    .ew-logo{
        height:12vh;
        width:12vh;
    }
}

/* Portrait ipad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .education, .work, .publications{
        margin: 3vh 0 0 17vw;
    }

    .ew-info{
        margin:0;
        width:60vw;
    }

    .ew-logo{
        height:10vh;
        width:10vh;
    }
}

/* Landscape ipad*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .education, .work, .publications{
        margin: 3vh 0 0 25vw;
    }

    .ew-info{
        margin:0;
        width:60vw;
    }

    .ew-logo{
        height:10vh;
        width:10vh;
    }
}

/* Portrait Ipad pro*/
@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .education, .work, .publications{
        margin: 3vh 0 0 22vw;
    }
    .ew-logo{
        height:10vh;
        width:10vh;
    }
}

.concordia{
    background-image: url('../icons/concordia.png');
    background-size: 80px;
}

.daviet{
    background-image: url('../icons/daviet.png');
    background-size:79px;
}

.apj{
    background-image: url('../icons/apj.png');
    background-size:120px;
}

.paxcom{
    background-image: url('../icons/paxcom-logo.png');
    background-size:120px;
    width:125px;
    height: 52px;
}

.doc{
    background-image: url('../icons/icons8-document-50.png');
}